# Composer
/vendor/
composer.lock

# Node.js / NPM
node_modules/
package-lock.json

# Build output
/public/css/style.css
/public/js/script.js

# IDE
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# WordPress
wp-config.php
.htaccess
