<footer class="bg-gray-800 text-white mt-auto">
	<div class="container mx-auto px-4 py-8 text-center">
		<p>&copy;
			{{ current_year|default('2025') }}
			{{ site_name|default('DB Conn') }}</p>
	</div>
</footer>
